<% layout('/layout') -%>
<% block('style', "input{margin-top: 8px;}") -%>
      
<form role="form" action="/goback" method="get"> 
  <div class="pull-right">
    <input type="submit" value="Go back to skipped questions." class="btn btn-primary">
    <input  type="button" onclick="window.location.href ='/knowledge-base'" value="No thanks, I'm done." class="btn btn-default"> 
  </div>
</form>

