<% layout('layout') -%>
<% stylesheet('/stylesheets/home.css') -%>
<% block('header', 'Sharing your story towards a better public understanding of indoor air quality health issues | <a href="#">Learn More</a>') -%>
<div id="homeDiv"><!--a div to hide upon registration success-->
  <div id="topFront" class="well">
    <p>Public Lab is asking:</p>
    <h1>Does formaldehyde exposure affect residents of manufactured homes?</h1>
    <a class="btn btn-primary" href="/register/">Join Where We Breathe</a> and become part of the conversation.
    <p>Do you live in a mobile home? Use this site to share information about indoor air quality health issues and read others' stories.</p>
  </div>
  <div class="well container-fluid">
    <p>Where We Breathe is a place to share stories and data about your health if you live in a manufactured home.</p>
    <div class="col-xs-6">
    You'll be able to share your story privately with the <a href="/about/#team">WhereWeBreathe research team</a> or publicly with the rest of the world.
    </div>
    <div class="col-xs-6">
    Publish your information for anyone to learn more about indoor air quality issues.
    </div>
  </div>
</div>
<hr>
