<% layout('layout') -%>
<% stylesheet('/stylesheets/home.css') -%>
<% block('header', 'Sharing your story towards a better public understanding of indoor air quality health issues | <a href="#">Learn More</a>') -%>
<div id="topFront" class="well">
  <p>Public Lab and X are asking:</p>
  <h1>Does formaldehyde exposure affect residents of manufactured homes?</h1>
  <a class="btn btn-primary" href="/register/">Join Where We Breathe</a> and become part of the conversation.
  <p>Do you live in a mobile home? Use this site to share information about indoor air quality health issues and read others' stories.</p>
</div>
<div class="well container-fluid">
  <p>Where We Breathe is a place to share stories and data about your health if you live in a manufactured home.</p>
  <div class="col-xs-6">
  You'll be able to share your story privately with the <a href="/about/#team">WhereWeBreathe research team</a> or publicly with the rest of the world.
  </div>
  <div class="col-xs-6">
  Publish your information for anyone to learn more about indoor air quality issues.
  </div>
</div>
<hr>
<% include login/register-template %>
<script>
function border(selector) {
  $(selector).css( "border", "solid white 3px" );
}
function noborder(selector) {
  $(selector).css( "border", "none" );
}
$(function(){
if( '<%= tour %>' == 'yes'){
  var tour = new Tour({orphan: true});
//if window less than 768x (bootstrap nav bar break point) set up tour one way, else set up the other way
//show border function


tour.addStep({
   element: "#f",
   title: "Welcome to Where We Breathe",
   content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae nisl diam. Morbi elementum tempor mi, eu faucibus eros feugiat eget. Duis tempus felis a dui iaculis, sit amet ullamcorper. <br><br> This tour will guide you through some of WWB's site features",
   backdrop: true
});
//explain collapsing menu if small screen
if($(window).width() < 768){
tour.addStep({
   element: ".navbar-toggle",
   title: "Menu",
   content: "On small screnes, the menu opens when you click this button", 
   onShow: function (tour) {$('.navbar-collapse').collapse('show');},//mobile
   placement: "bottom"//mobile
  });
 }
 
if($(window).height() < 768){
  console.log($(window).height())
}
else{
  console.log("there")
}


  
  tour.addStep({
   element: "#nav-q",
   title: "Questionnaire ",
   content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis, diam ac mattis dictum, purus nibh auctor sem, ut auctor. </a>", 
   onShow: function (tour) {border('#nav-q')},
   onHidden: function (tour) {noborder('#nav-q')},
   placement: 'bottom'
  });
  tour.addStep({
   element: "#nav-graphs",
   title: "Forums",
   content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis, diam ac mattis dictum, purus nibh auctor sem, ut auctor. ", 
   onShow: function (tour) {border("#nav-graphs")},
   onHidden: function (tour) {noborder("#nav-graphs")},
   placement: 'bottom'
  });
  if($(window).width() < 768){
    var tourLoginPlacement = "right";
  }
  else{
    tourLoginPlacement = 'left';
    
  }
  tour.addStep({
   element: "#login",
   title: "User Menu",
   content: "Click the user menu to manage your account", 
   placement: tourLoginPlacement
  });
  
  if($(window).width() < 768){
    var tourUserMenuPlacement = "top";
  }
  else{
    tourUserMenuPlacement = "left";
  }  
  tour.addStep({
   element: ".userMenu",
   title: "User Menu",
   content: "Inside the user menu, you can change your password, privacy settings, and logout",
   onShow: function (tour) {
     $('.userMenu').show(); 
     //$('.navbar-collapse').scrolltop($('.userMenu').scrollTop());
     $('.navbar-collapse').animate({
        scrollTop: $('.userMenu').offset().top}, 0);
   },
   onHidden: function (tour) {
    $('.userMenu').hide();
    if($(window).width() < 768){ 
      $('.navbar-collapse').collapse('hide');//mobile
    }
   },
   placement: tourUserMenuPlacement
  });
  tour.addStep({
   element: "#f",
   title: "Lorem Ipsum",
   content: "<p class='justify'>[some text about how important the survey responses will be as a call to continue on to the survey]</p> <br><br> <a  href='/questionnaire'><button class='btn btn-primary center-block'>Start the questionnaire</button></a>", 
   placement: 'bottom',
  });
  tour.restart();
}
})//end on ready
</script>
