<% layout('layout') -%>
<h3>General information on Domestic Indoor Air Quality</h3>
<p>
The average formaldehyde level in manufactured homes ranges from 15.5 ppb (CDC, <a href="/docs/08_118152_Compendium for States.pdf" target="_blank">PDF</a>) to 36.3 ppb (California’s Office of Environmental Health and Hazard Assessment, <a href="/docs/formaldehyde_final.pdf" target="_blank">PDF</a>)—about four times higher than those of conventional homes.
</p>
<p>
Lawrence Berkeley National Laboratory has an extensive <a href="http://www.iaqscience.lbl.gov/" target="_blank">indoor air quality scientific findings resource library</a>. 
</p>
<p>
The EPA's <a href="http://www.epa.gov/iaq/homes/index.html" target="_blank">website</a> on the indoor air quality of homes. 
</p>
<p>
The EPA's <a href="http://cfpub.epa.gov/ncea/iris_drafts/recordisplay.cfm?deid=223614" target="_blank">Toxicological Review on Formaldehyde Inhalation</a>. For more information call the EPA Toxic Substance Control Act (TSCA) Assistance Line (202) 554-1404.
</p>
<h3>Mitigation</h3>
<p>
NASA was an early pioneer in using plants to clean indoor air, also known as phytoremediation. Read one of their studies here: (<a href="/docs/nasa-landscape-plants-indoor-air.pdf" target="_blank">PDF</a>). <a href="http://journal.ashspublications.org/content/133/4/521.abstract" target="_blank">Recent studies on phytoremediation</a> are finding that it is both the leaves and microbes that live in potting soil that help clean formaldehyde and other common indoor toxins from the air.
</p>
<p>
One of the reasons that the Where We Breathe website exists is because of the lack of studies that document long-term residential chemical exposure. Many industry-funded studies suggest that formaldehyde emissions decrease so rapidly after construction that long-term domestic exposures should not be an issue (PDF: <a href="/docs/longterm-particleboard-emission-decay-study-Industry Funded.pdf" target="_blank">1</a>, <a href="/docs/Decay-or-Decrease-in-Emissions-Industry-Funded.pdf" target="_blank">2</a>). <a href="http://www.ncbi.nlm.nih.gov/pubmed/20408902" target="_blank">Other studies</a> on the factors of chronic residential formaldehyde exposure found that over time ventilation lost its efficacy in mitigating formaldehyde levels and source removal was the most effective mitigation technique.
</p>
<h3>Studies on the Air Quality of FEMA Trailers</h3>
<p>
Centers for Disease Control and Prevention's  <a href="http://www.cdc.gov/nceh/ehhe/trailerstudy/assessment.htm#final" target="_blank">study</a> on FEMA trailers. 
</p>
<p>
The Agency for Toxic Substances and Disease Registry <a href="http://www.atsdr.cdc.gov/substances/formaldehyde/public_assessment.html" target="_blank">tests</a> from 2007. A pilot study on the health effects of FEMA trailers on children was completed in the Fall of 2013 (<a href="/docs/chats-finalreport-092013.pdf" target="_blank">PDF</a>).
</p>
<h3>FEMA Trailer Sales Certificates</h3>
<p>
The conditions of sale and liabilities of the various models of FEMA trailer can be viewed in the following document acquired by way of the Freedom of Information Act (<a href="/docs/GSA-FEMA-Sales-Certifications.pdf" target="_blank">PDF</a>).
</p>
<h3>Advocates</h3>
<p><a href="http://saferchemicals.org/" target="_blank">Safer Chemicals, Healthier Families</a>. 
</p>
<p>
<a href="http://www.toxictrailers.com/" target="_blank">Blog</a> by the Director of the Sierra Club Formaldehyde Campaign.
</p>
