<% layout('layout') -%>

<div class="well well-info">
  <h3>Topic: <%= qSet %></h3>
  <button class="btn btn-lg btn-primary" type="button">Share</button>
  <a href="#" onclick="window.location.href ='/questionnaire/'">skip</a>
  
</div>
