<% include home-template %>
<script>
function border(selector) {
  $(selector).css( "border", "solid white 3px" );
}
function noborder(selector) {
  $(selector).css( "border", "none" );
}
$(function(){
if( '<%= tour %>' == 'yes'){
  var tour = new Tour({orphan: true});
//if window less than 768x (bootstrap nav bar break point) set up tour one way, else set up the other way
//show border function

console.log('<%= user.username %>')
tour.addStep({
   element: "#f",
   title: "Welcome"+" to Where We Breathe "+ '<%= user.username %>'+"!",
   content: "Where We Breathe is a space where we can work together to understand how indoor air quality affects our families and our pets, and what we can do about it. <br><br>This tour will guide you through some of the website’s features.",
   backdrop: true
});
//explain collapsing menu if small screen
if($(window).width() < 768){
tour.addStep({
   element: ".navbar-toggle",
   title: "Menu",
   content: "On small screens, the menu opens when you click this button", 
   onShow: function (tour) {$('.navbar-collapse').collapse('show');},//mobile
   placement: "bottom"//mobile
  });
 }
 
if($(window).height() < 768){
  console.log($(window).height())
}
else{
  console.log("there")
}


  
  tour.addStep({
   element: "#nav-q",
   title: "Questionnaire ",
   content: "In this section you will be asked to answer questions about your manufactured home and how it has affected your life.<br><br>You’re experiences are important because manufactured homes have elevated levels of formaldehyde and because scientists are not certain about how long-term exposure to formaldehyde can affect human health. The more people that share their experiences in this systematic---and admittedly sometimes boring--way the better we can all understand the harms of indoor air pollution and figure out what we can do to make the situation better. <p class='center-block text-center tour-steps'>(5 tour items left)</p>", 
   onShow: function (tour) {border('#nav-q')},
   onHidden: function (tour) {noborder('#nav-q')},
   placement: 'bottom'
  });
  tour.addStep({
   element: "#nav-graphs",
   title: "Forums",
   content: "In the Forum section you can see how your experiences are similar to or different from other (anonymous) people that have completed the questionnaire and connect over common issues.<br><br>In other words, the forum is a space where you tell your story and also hear other people’s stories. Chances are that you’re not alone in what you are experiencing.<p class='center-block text-center tour-steps'>(4 tour items left)</p>", 
   onShow: function (tour) {border("#nav-graphs")},
   onHidden: function (tour) {noborder("#nav-graphs")},
   placement: 'bottom'
  });
  tour.addStep({
   element: "#nav-kb",
   title: "Knowledge Base",
   content: "In the Knowledge Base we have collected a number of resources that we think could be helpful for your understanding of manufactured home air quality issues and what you can do about them. This is a collective knowledge base so feel free to add other resources in the comments section and we will incorporate them.<p class='center-block text-center tour-steps'>(3 tour items left)</p>", 
   onShow: function (tour) {border("#nav-kb")},
   onHidden: function (tour) {noborder("#nav-kb")},
   placement: 'bottom'
  });
  if($(window).width() < 768){
    var tourLoginPlacement = "right";
  }
  else{
   tourLoginPlacement = "left";
  }
  tour.addStep({
    element: "#login",
    title: "User Menu",
    content: "Click the user menu to manage your account.<p class='center-block text-center tour-steps'>(2 tour items left)</p> ", 
    placement: tourLoginPlacement
  });
  if($(window).width() < 768){
    var tourUserMenuPlacement = "top";
  }
  else{
    tourUserMenuPlacement = "left";
  }  
  tour.addStep({
   element: ".userMenu",
   title: "User Menu",
   content: "In this menu you can change your privacy settings or your password. Here is also where you will find the Log Out button. <p class='center-block text-center tour-steps'>(1 tour item left)</p>",
   onShow: function (tour) {
     $('.userMenu').show(); 
     //$('.navbar-collapse').scrolltop($('.userMenu').scrollTop());
     $('.navbar-collapse').animate({
        scrollTop: $('.userMenu').offset().top}, 0);
   },
   onHidden: function (tour) {
    $('.userMenu').hide();
    if($(window).width() < 768){ 
      $('.navbar-collapse').collapse('hide');//mobile
    }
   },
   placement: tourUserMenuPlacement
  });
  tour.addStep({
   element: "#f",
   title: "Tour complete!",
   content: "Help set the record straight by sharing your symptoms and teaching scientists about how formaldehyde in your home has impacted you.<br><br>Every answer you contribute to this questionnaire will not just help you record your air quality issues but could help to reduce or prevent the indoor chemical exposure of many other people all over the world.<br><br> <a  href='/questionnaire'><button class='btn btn-primary center-block'>Start the questionnaire</button></a>", 
   placement: 'bottom',
  });
  
  tour.restart();
}
})//end on ready
</script>
