#title, .page-header{
  display: none;
}
.circle{
  width:170px;
  height:170px;
  border-radius:85px;
  font-size:20px;
  color:#fff;
  line-height:150px;
  text-align:center;
  padding-top:5px;
  margin: 10px auto 14px;
  font-family: Junction Light,Junction,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.lblCircle{
  font-size:12px;
  text-align: center;
  width: 100%;
  margin-bottom: 18px;
}
.disabledx{
  color: #999;
  margin: 10px 0;
}

.topic{
  border: solid thin #ddf;
  min-width: 220px;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:12px;
}
.topic p{
  padding-top:10px;
  letter-spacing:95%;
}

.Household{
  background:#f44;
  border:#f44 8px solid;
}
.Household.unanswered{
  background:#ffe8e8;
}
.Symptoms{
  background:#3a3;
  border:#3a3 8px solid;
}
.Symptoms.unanswered{
  background:#dfd;
}
.Mitigation{
  background:orange;
  border:orange 8px solid;
}
.Mitigation.unanswered{
  background:#ffd;
}
.Indicators{
  background:#66c;
  border:#66c 8px solid;
}
.Indicators.unanswered{
  background:#e8e8ff;
}
.Demographics{
  background:#83b;
  border:#83b 8px solid;
  font-size: 16px;
}
.Demographics.unanswered{
  background:#fdf;
}
.unanswered{
  color: #000;
}
