h1#title{
  display: none;
}
#topFront{
  background-image:url('/images/towhitch2.jpg');
  background-size:   cover;   
  background-repeat:no-repeat;
  background-position:center top; 
  color: #fff;
  padding-top:280px;
  padding-bottom: 0;
}
#topFront h1{
  margin-top: 0;
}
#topFront p{
  margin-top: 7px;
}
.page-header{
  margin: 0;
}
