#chart{
  max-width:1500px;
  min-width: 500px;
  height:250px;
  text-align: center;
  margin: 0 auto;
  position: relative;   
}
.content{
  min-width: 600px;
}
#noData{
}
#question{
  text-align: center;
}
.yaxisLabel {
    left: 2px;
    top: 50%;
    transform: rotate(-90deg);
    transform-origin: 30px 20px 0;
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    rotation-point:30px 20px 0;; /* CSS3 */
    rotation:-90deg; /* CSS3 */
}
.axisLabel {
    font-size: 11px;
    position: absolute;
    text-align: center;
    z-index: 1000;
}
#chartParent{
  padding: 30px 5px;
  position: relative;
}
#previous, #next{
  font-size: 17px;
}
#chart div.xAxis div.tickLabel 
{      
  width: 50px;   
}
#storiesHeading{
  font-size: x-large;
}
.username{
  font-size: large;
}
.story{
  color: #799998;
}
.storyParent{
  margin:7px 0;
}
.well{
  background-color: #F3FAFA;
  border-color: #BFE7E6;
}
h1{
  display:inline;/*make room for #btnQ*/
}
