fieldset {
  border-left: 2px solid #cccccc;
  padding: 5px;
  margin: 4px 0;
}
/*.sublabel{
  font-size: small;
  margin-bottom:10px;
}*/
#lnkLogin{
  margin-bottom:10px;
}
#bugs{
margin-top: 8px;
}
#title, .page-header{
  display: none;
}
.container, .container-fluid{
  padding:0 3px;
}
@media (min-width: 768px) { 
  .col-md-8{
    border-left: whitesmoke thin solid;
  }

}
