fieldset {
  border-left: 2px solid #cccccc;
  padding: 5px;
  margin: 4px 0;
}
/*.sublabel{
  font-size: small;
  margin-bottom:10px;
}*/
#lnkLogin{
  margin-bottom:10px;
}
#bugs{
margin-top: 8px;
}
