@font-face {
    font-family: Junction;
    src: url(/fonts/junction/webfonts/junction-regular.woff);
}
@font-face {
    font-family: Junction Light;
    src: url(/fonts/junction/webfonts/junction-light.woff);
}
body{
  font-size: 16px;
  padding-top: 70px;
  height: 100%;
  background-color: #f8f8f8;
}
h1,h2,h3,h4,h5,h6{
  font-family: Junction Light,Junction,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 150%;
}

.navbar-header{
  padding-top:10px;
}
.navbar-brand{
  font-size:26px;
  font-family: Junction Light,Junction,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.navbar-nav{
  font-size:18px;
  padding-top:12px;
  font-family: Junction,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.userMenu, #divLogin{
  margin-right: 20px;
}
#title{
  font-size: 38px;
}
.content{
  margin-top: -10px;/*override navbar margin*/
  padding-top: 20px;/*override navbar margin*/
  background-color: #fff;
  padding-bottom: 20px;
}
.footer{
  color:#888;
  border-top: 1px solid #e7e7e7;
  clear: both;
  margin: 0;
  padding: 20px 10px 40px;
}
/*make form inputs and helper messages default to Helvetica et al.*/
.alert, input, #login, #btnJoin, .register{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

ul {
  list-style-type:square;
  padding-left:16px;
}

.panel-info .panel-body {
  background:#eef;
  color:#456;
}
.panel-body {
  padding:30px 15px;
}
.panel-body h3 {
  margin-top:0;
}
.question-cat {
  margin-bottom:14px;
  text-transform:uppercase;
  color:#888;
  font-size:12px;
}

#login, #btnJoin{
  margin-left: 5px;
}
#login{
  margin-right: 20px;
}
#divLogin{
  padding:7px;
}
#vin, #hud {
  max-width: 600px;
  display: inline-block;/*makes the clickable area from the parent href fit to image*/
}

figcaption{
  font-style:italic
}
.justify{
  text-align:justify;
  text-justify:inter-word;
}
/*squish nav items a bit to avoid login buttons wrapping before trips mobile mode*/
@media (min-width: 790px) and (max-width: 880px) { 
  .navbar-default .navbar-nav > li > .aNav{
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*override the bootstrap cuttoff point for the nav collapse*/
@media (max-width: 800px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
