@font-face {
    font-family: Junction;
    src: url(/fonts/junction/webfonts/junction-regular.woff);
}
body{
  padding-top: 70px;
  font-family: Junction,Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 100%;
  background-color: #f8f8f8;
}
#title{
  font-size: 38px;
}
.content{
  margin-top: -20px;/*override navbar margin*/
  padding-top: 20px;/*override navbar margin*/
  background-color: #fff;
  padding-bottom: 20px;
}
.footer{
  border-top: 1px solid #e7e7e7;
  clear: both;
  margin: 0;
  padding: 20px;
}
/*make form inputs and helper messages default to Helvetica et al.*/
.alert, input, #login, #btnJoin, .register{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
#login, #btnJoin{
  margin-left: 5px;
}
#login{
  margin-right: 20px;
}
#divLogin{
  padding:7px;
}
#vin, #hud {
  max-width: 600px;
  display: inline-block;/*makes the clickable area from the parent href fit to image*/
}

figcaption{
  font-style:italic
}
.justify{
  text-align:justify;
  text-justify:inter-word;
}
/*squish nav items a bit to avoid login buttons wrapping before trips mobile mode*/
.navbar-default .navbar-nav > li > .aNav{
  padding-left: 7px;
  padding-right: 10px;
}
