<% layout('../layout') -%>
<div class="container-fluid">
  <div>
    Your account hasn't been verified yet.
  </div>
  <div>
    Check your email for a confirmation message to verify your account.
    Make sure to check your spam filter.
  </div>
  <div>
    If you still haven't gotten a confirmation email,
    <a href="/resend/<%= email %>">click here to resend.</a> (TODO)
  </div>
</div>
