<% layout('../layout') -%>
<% script('../bootstrap-switch-master/bootstrap-switch.min.js') -%>
<% stylesheet('../stylesheets/register.css') -%>
<% stylesheet('../bootstrap-switch-master/bootstrap-switch.css') -%>

<form role="form" id='frmPriv'>
  <h3>Publicly share your data?</h3>
  <div class="form-group">
    <input type="checkbox" name="public"  value="public">
  </div>
  <div id="lblPub"></div>
  <br>
  <!--<div class="form-group">
    <input type="checkbox" name="researchers" value="research team">
    <span id="lblResearch"></strong></span>
  </div>-->
  <button type="submit" class="btn btn-primary">Update Privacy Settings</button>&nbsp;<a href="/">
</form>
<p id="alert"></p>
<a id='showMore' href="#" class="center-block text-center">Learn more about your privacy settings <i id='icnMore' class="fa fa-chevron-down"></i></a>
<div id='more' class="panel panel-default">
  <div class="panel-body">
  
  [[[final copy edits needed?]]]
    <h3>Stay anonymous</h3>[ the stay anon section seems more relavent for the sign up page?]

    <p>There's no reason to share your real name, address, or contact information. Share your data under a false name and be careful of the potentially identifying information you decide to share.</p>

    <p>We work hard to keep your data secure, and don't need to know who you are.</p>
    <h3>Know who's reading</h3>

    <p>You can decide to share privately with our team of epidemiologists and social scientists, and the information you supply will only be used for scholarly purposes and in a non-identifying manner.</p>

    <p>If you choose to make your data public, anyone will be able to read your story to learn about indoor air contamination in mobile homes. But if you change your mind about sharing a story publicly you can pull all of your publicly shared information into the private and secure database used exclusively by the research team. [[[You can do this at any time on the privacy page by clicking the "Make all my sharing private" button]]]. This will change all future copies of publicly accessible data but we can't do anything about people who have already seen or downloaded your stories and could potentially recirculate them.</p>
    
    <h3>Your account data</h3>

    <p>If you choose to privately share your data, your answers will contribute to graphs and averages that can be seen publicly but there will no links between those graphs or averages and your username (or any other potentially identifying information).</p>

    <p>At any time you can download all of your contributions to WWB in a single document by clicking the "download my data" button on the privacy page.</p>

    <p>[[[[If, for whatever reason, you decide that you would like to close your account you may do so at any time by clicking the "close my account" button on the privacy page. This will not only pull your publicly shared information from the website but it will also remove your answers from aggregate representations like graphs.]]]</p>
  </div>
</div>
<script>
function checkLblPub(state){
if(state){  
    $('#lblPub').html('Your questionnaire answers <strong>can be seen by the research team and anyone on the internet</strong>. (Only your chosen username will be shown along with your answers)');
  }
  else{
    $('#lblPub').html('Your questionnaire answers will be shared only with the WhereWeBreathe research team and <strong>will not be publicly visible</strong>');
  } 
}
//checks state of switch, and sets text accordingly
$(function(){
  // initially hide learn more info
  $('#more').hide();
  //control 'Learn More' href
  $('#showMore').click(function(){
    $('#more').toggle();
    if ($('#icnMore').hasClass('fa-chevron-down')){ $('#icnMore').removeClass('fa-chevron-down').addClass('fa-chevron-up');}
    else{$('#icnMore').removeClass('fa-chevron-up').addClass('fa-chevron-down');}
  });
  
  //set up toggle switch
  $.fn.bootstrapSwitch.defaults.onColor = 'success';
  $.fn.bootstrapSwitch.defaults.offColor = 'danger';
  $.fn.bootstrapSwitch.defaults.onText = 'Yes';
  $.fn.bootstrapSwitch.defaults.offText = 'No';
 // $.fn.bootstrapSwitch.defaults.state = true;
  
  //set toggle to value in DB
  $("[name='public']").bootstrapSwitch('state', <%=visPublic%>)
  
  //set toggle text according to switch state
  checkLblPub($("[name='public']").bootstrapSwitch('state'));

})
//on state change, change lbl text
$("[name='public']").on('switchChange.bootstrapSwitch', function(event, state) {
  checkLblPub(state);
});
$('#frmPriv').submit(function(event){
    //prevent actual submit, but HTML5 validation triggers
    event.preventDefault();
    $.post( '/privacy',{visPublic: $("[name='public']").bootstrapSwitch('state')})
      .fail(function(response) {
        $( ".alert" ).remove();
        console.log(response);
        var html = '<div class="alert alert-danger" role="alert">'+response.responseText+'</div>'
        $( html ).insertAfter( ".page-header" );
      })
      .done(function(response) {
        //redirect to login with message
        $( ".alert" ).remove();
        var html = '<div class="alert alert-success" role="alert">Your privacy settings have been saved.</div>'
        $( html ).insertAfter( "#alert" ).fadeOut( 5000);

      });

  });
</script>
