<h1>Sign Up</h1>
<div id='lnkLogin'>
 If you already have an account, you can <strong><a href="/login">login here</a></strong>.
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Stay Anonymous</h3>
  </div>
  <div class="panel-body">
    <p>There's no reason to share your real name, address, or contact information. Share your data under a false name and be careful of the potentially identifying information you decide to share.</p>
    <p>We work hard to keep your data secure, and don't need to know who you are.</p>
    <p>You can decide to share privately with our team of epidemiologists and social scientists, and the information you supply will only be used for scholarly purposes and in a non-identifying manner.</p>
    <p>If you choose to make your data public, anyone will be able to read your story to learn about indoor air contamination in mobile homes.</p>
  </div>
</div>
<form class='register' role="form" action="/register" method="post">
<% if(regErr.length > 0){ %>
<div id='regMsg' class="alert alert-danger" role="alert">
There were the following errors:
  <ul>
    <% regErr.forEach( function( message ){ %>
      <li><%= message %></li>
    <% }); %>
  </ul>
</div>
<% } %>
        <!--<div class='sublabel'>Your username and password both must be 3-30 characters and may contain letters, numbers, spaces, or . - @ characters.</div>-->
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="you@email.com" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="email2">Re-type Email:</label>
    <input type="email" name="email2" placeholder="you@email.com" class="form-control" required oninput="validateMatch(this, 'email', 'The two emails must match.')">
  </div>  
  <div class="form-group">
    <label for="username">Desired Username:</label>
    <input type="text" name="username" placeholder="Enter Username (min. 3 characters)" class="form-control" pattern="^[A-Za-z0-9_.-@]{3,30}$" required maxlength="30" title="Your username must be 3 to 30 characters in length and may contain letters, numbers, or . - @ _ characters.">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Password" class="form-control" required pattern="^[A-Za-z0-9_-]{3,30}$" title="Your password must be 3 to 30 characters in length and may contain letters, numbers, hyphens, or underscores.">
  </div>
  <div class="form-group">
    <label for="password2">Re-type Password:</label>
    <input type="password" name="password2" placeholder="Re-type Password" class="form-control" required pattern="^[A-Za-z0-9_-]{3,30}$" title="Your password must be 3 to 30 characters in length and may contain letters, numbers, hyphens, or underscores." oninput="validateMatch(this, 'password', 'The two passwords must match.')">
  </div>
  <div class="form-group">
    <label for="HID">VIN or HUD:</label>
    <a href="/vinhud"> Need help finding your VIN or HUD?</a>
    <input type="text" name="HID" placeholder="E.g.: PFS877437 or 1NL1VTR2961054291 (please remove spaces and dashes)" class="form-control" required pattern="(^((?=[^iIoOqQ])\w){17}$)|(^\w{3}[0-9]{6,7}$)" title="What you entered does not look like a VIN or HUD. Please double check your records and try removing spaces and dashes.">
  </div>
  <div class="form-group">
    <label for="password2">I am at least 18 years old:</label>
    <input type="checkbox" name="eighteen" value="18" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>&nbsp;
  <a href="/">
  <button type="button" class="btn btn-primary">Cancel</button></a>
</form>
<div id='bugs'>Having trouble with the registration form? Contact us at <a href="mailto:support@wherewebreathe.org?Subject=Registration bugs" target="_top">
support@wherewebreathe.org</a></div>
<script>
  $(function(){
  //if there is an error message scroll to it.
  <% if(regErr.length > 0){ %>
  console.log("scroll")
    $('html, body').animate({
      scrollTop: $("#regMsg").offset().top - $('#menu').outerHeight()}, 600);
    });
  <%} %>
</script>
  <!--<label for="username">Are you human? (sorry: spam filtering!)</label>
  <fieldset>
    <div class="radio">
      <label>
        <input type="radio" name="human1" value="food">
        I eat food
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="human1" value="robot">
        I am a robot
      </label>
    </div>
  </fieldset>
  <fieldset>
    <div class="radio">
      <label>
        <input type="radio" name="human2" value="earth">
        I live on Earth
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="human2"value="cpu">
        I am a central processing unit
      </label>
    </div>
  </fieldset>
  <fieldset>
    <div class="radio">
      <label>
        <input type="radio" name="human3" value="water">
        I drink water
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="human3" value="computer">
        I am a computer
      </label>
    </div>
  </fieldset> 
  <fieldset>
    <div class="radio">
      <label>
        <input type="radio" name="human4" id="optionsRadios1" value="heart">
        I have a heart
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="human4" id="optionsRadios2" value="robot">
        I am a central processing unit
      </label>
    </div>
  </fieldset> 
  <div class="form-group">
  <label for="empty">Don't write anything here if you're a real person:</label>
    <textarea name="empty" class="form-control"></textarea>
  </div>
  -->
